<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/login.css">
    
    <title>Document</title>
</head>
<body>
    <div id="for-box-hover">
    <header>
        <div class="burger-box">
            <i class="fa fa-bars burger"></i>
        </div>
        <div id="logo-header">
            <a href="/"><img src="/img/logoTemp.png" alt="Logo" class="logo"></a>
        </div>
        <nav class="account-menu">
            <ul class="account-menu-list">
                <li class="account-menu-container"><div class="account-menu-text"><a href="/login">Ingresar</a></div><div class="account-menu-icon"><a href="login"><i class="fas fa-sign-in-alt"></i></a></div></li>
                <li class="account-menu-container"><div class="account-menu-text"><a href="/registration">Crear Cuenta</a></div><div class="account-menu-icon"><a href="registration"><i class="fas fa-user-plus"></i></a></div></li>
                <li class="account-menu-container"><div  class="account-menu-text"><a href="/cart">Carrito</a></div><div class="account-menu-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div></li>
            </ul>
        </nav>
    </header>
    <div class="menu-continents" id="menu-continents">               
        <div><a href="#">América</a></div>
        <div><a href="#">Europa</a></div>
        <div><a href="#">África</a></div>
        <div><a href="#">Asia</a></div>
        <div><a href="#">Oceanía</a></div>
        <div><a href="#">Polos</a></div>
        <div class="search-box">
            <input type="search" placeholder="Buscar..." class="search-area">
            <button class="search-area"><i class="fas fa-search search-bar"></i></button>
        </div>
    </div>
</div>
</header>
<main>
    <div class="form-login"
    <form action="/" method="get" >
        <div id="input-box">
            <div class="user-name">
            <label for="user"></label>
            <input type="text" name="user" id="user" placeholder="Nombre de usuario" required> 
        </div>
        <div id="password">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Contrasenia">
        </div>
    </div>
        <div> 
        <button type="submit" id="button">  Login </button>
        </div>
        </form>
    </div>
    </main>





    <footer>
        <div>
            <i class="fas fa-globe" class="icon"></i>
        </div>
        <div>
            <i class="fas fa-user-friends" class="icon"></i>
            <p>Conocenos</p>
        </div>
        <div >
            <i class="fas fa-info-circle" class="icon"></i>
            <p>Informate acerca de las novedades</p>
        </div>
        <div>
            <i class="fas fa-truck" class="icon"></i>
            <p>Envios en 24 horas</p>
        </div>
    </footer>
    
</body>
</html>