<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product-detail.css">

    <title>New World</title>
</head>

<body>
    <header>
        <div id="logo-header">
            <a href="/"><img src="/img/logo_grey_cropped.png" alt="Logo" class="logo"></a>
        </div>
        <div id="nav-box">
            <div class="burger-box">
                <i class="fa fa-bars burger"></i>
            </div>
            <nav id="nav-mobile">
                <p id="categories-title">Categorías:</p>
                <ul id="categories-menu" class="nav-list">
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>América</a></li>
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>Europa</a></li>
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>África</a></li>
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>Asia</a></li>
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>Oceanía</a></li>
                    <li><a href="/product" class="categories-item"><i class="fas fa-times"></i>Polos</a></li>
                </ul>
                <ul id="account-menu" class="nav-list">
                    <li><a href="/login" class="account-menu-item">Ingresar</a></li>
                    <li><a href="/registration" class="account-menu-item">Crear Cuenta</a></li>
                    <li><a href="/cart" class="account-menu-item">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <nav id="nav-wide" class="account-menu">
            <ul class="account-menu-list">
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/login">Ingresar</a></div>
                    <div class="account-menu-icon"><a href="login"><i class="fas fa-sign-in-alt"></i></a></div>
                </li>
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/registration">Crear Cuenta</a></div>
                    <div class="account-menu-icon"><a href="registration"><i class="fas fa-user-plus"></i></a></div>
                </li>
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/cart">Carrito</a></div>
                    <div class="account-menu-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
                </li>
            </ul>
        </nav>
    </header>
<main>
    <section>
        <div class="conteiner">
        <article>
            <h4> Africa y el mar etíope. Ortelius. (1584)   </h4>
            <div class="product">
            <img src="/img/Africa.jpg" alt="Mapa-Africa" class="maps">
            <p class="des">Los términos África subsahariana y anteriormente África negra hacen referencia a aquellos países del continente africano que no limitan con el mar Mediterráneo. También se conoce como determinada zona geográfica ubicada al sur del desierto del Sahara. Sin embargo, no se hace referencia a las divisiones políticas; el término refiere a aquellas partes del continente africano habitadas mayoritariamente por personas de piel oscura, que comprenden aproximadamente el 85 por ciento de su superficie total. Otra clasificación señala el trópico de Cáncer como límite norte aproximado de África negra. Desde el punto de vista biogeográfico, se le denomina región Afrotropical.</p>
            </div>
            <p class="precio">$5.000</p>
        </article>
        <article>
            <h4> Mapa Japonia según Janssonius (1636)  </h4>
            <div class="product">
            <img src="/img/japonia.jpg" alt="Mapa-Japonia" class="maps">
            <p class="des">One of the earliest views of Japan and Korea. This is a very attractive, boldly engraved map.
                The map is based on Abraham Ortelius' map which in turn was based on the manuscripts of the Portuguese Jesuit, Luis Teixeria, cartographer to the Court of the Spanish King.
                Although Hondius follows Ortelius' misrepresentation of Korea (Corea) as an island, he does add a text notation within Korea in which he suggests that it might not be an island.
                A strapwork title cartouche is at the top right. A European ship sails in the waters north of Japan and a Chinese junk sails below Japan in the "China Ocean". A sea monster is below Korea.  Jodocus Hondius (1563-1612) was the founder of the famous 17th century Dutch map publishing family. Hondius, along with sons Jodocus II and Henricus and son-in-law Jan Janssonius, was prominent in Dutch cartography and competed with the emerging Blaeu family map business.</p>
                </div>
                 <p class="precio">$6.000</p>
        </article>
        </div>
        <div class="conteiner1">
        <article>
            <h4> Mapa de Ptolomeo (siglo XVI)
                El mundo conocido en el siglo II A.C.
                  </h4>
            <div class="product">
            <img src="/img/ptolomeo-4.jpg" alt="Mapa-ptolomeo-4" class="maps">
            <p class="des">Hay obras que fueron creadas en la época en la que el Mediterráneo era uno de los centros de la Humanidad, cuando las grandes civilizaciones clásicas dominaban el viejo mundo. La Geografía de Ptolomeo es una de ellas. Su importancia y valor están fuera de dudas, pero su trascendencia fue tal que incluso muchos siglos después Cristóbal Colón se equivocó en sus cálculos al basarse en ella.</p>
            </div>
            <p class="precio">$7.000</p>
        </article>
        <article>
            <h4> Tierra del Fuego. Hondius. (1607) </h4>
            <div class="product">
            <img src="/img/Tierra del fuego.jpg" alt="Mapa-Tierra-del-fuegp" class="maps">
            <p class="des">La porción del cabo que se encuentra en la República de Chile esta en la Región de Magallanes y de la Antártida Chilena y del lado de la República Argentina se ubica en la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur, dentro de la jurisdicción del  Departamento de Río Grande. De acuerdo con la Constitución de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur de 1991, el artículo 2º determina que la provincia tiene los límites territoriales y los espacios marítimos y aéreos que por derecho le corresponden de conformidad con los límites internacionales de la República Argentina, ajustándose a los límites establecidos por el Tratado de 1881 y el Protocolo de 1893.</p>
            </div>
            <p class="precio">$8.000</p>
        </article>
        </div>
        <article>
            <h4> Mapa de Waldseemüler (1507) 
                El mundo conocido en el siglo II A.C.
            </h4>
            <div class="product">
            <img src="/img/Waldseemuller_map_2.jpg" alt="Mapa" class="maps">
            <p class="des">Universalis Cosmographia o Planisferio de Waldseemüller es un planisferio publicado bajo la dirección del cartógrafo Martin Waldseemüller en Saint-Dié e impreso en Estrasburgo en 1507, en el que por primera vez se utiliza el nombre de «América» al considerar a Américo Vespucio descubridor del nuevo continente. Titulado Universalis Cosmographia Secundum Ptholomei Traditionem et Americi Vespuci Aliorumque Lustrationes, el planisferio acompañaba a un pequeño tratado de geografía titulado Cosmographiae Introductio.</p>
            </div>
            <p class="precio">$9.000</p>
        </article>
    </section>
</main>



<footer>
    <div>
        <i class="fas fa-globe icon"></i>
    </div>
    <div>
        <i class="fas fa-user-friends icon"></i>
        <p>Conocenos</p>
    </div>
    <div >
        <i class="fas fa-info-circle icon"></i>
        <p>Informate acerca de las novedades</p>
    </div>
    <div>
        <i class="fas fa-truck"></i>
        <p>Envios en 24 horas</p>
    </div>
</footer>
    
</body>
</html>