main{
    margin: 0 auto;
    width: 90%;
    color:black;
    background-color: rgb(255, 255, 255);
}
.maps{
    width: 40%;
    height: 40%;
}
.product{
    width: 100%;
    padding: 20px;
    
}

@media (min-width: 769px){
    .product{
        display: flex;
    }
}
@media (min-width: 1200px){
    .conteiner{
        display: flex;
    }
    .conteiner1{
        display: flex;
    }
}
footer{
    background-color:  rgb(27, 26, 26);
    color: rgb(201, 200, 199);
    text-align: center;
}
.precio{
    font-size: 24px;
    color: red;
}
body{
    box-shadow:5px 5px 5px rgb(201, 200, 199);
}