main{
    margin: 0 auto;
    width: 90%;
    color:black;
    background-color: rgb(255, 255, 255);
}
.maps{
    width: 30%;
    height: 30%;
}
.product{
    width: 100%;
    padding: 20px;
    border-top : solid 1px rgb(77, 46, 77);
    
}

@media (min-width: 769px){
    .product{
        display: flex;
        justify-content: space-between
    }
    .title{
        text-align: center;
    }
}
@media (min-width: 1200px){
    .conteiner{
        display: flex;
        justify-content: space-between
    }
    .conteiner1{
        display: flex;
        justify-content: space-between
    }
    .title{ 
        text-align: center;
    }
}
footer{
    background-color:  rgb(27, 26, 26);
    color: rgb(201, 200, 199);
    text-align: center;
}
.precio{
    font-size: 24px;
    color: red;
}
body{
    box-shadow:5px 5px 5px rgb(201, 200, 199);
}
.truck-icon{
    color: rgb(77, 46, 77);
    font-size: 16px;
   padding: 5px;
   width: 25px;
   height: 25px;
   background-color: #fff;
   border: 1px solid rgb(77, 46, 77);
   border-radius: 50%;
   text-align: center;
}
.price-icon{
    display: flex;
     justify-content: space-around
}