:root {
    --nw-white: rgb(245, 246, 243);
    --nw-blue: rgb(152, 195, 198);
    --nw-orange: rgb(237, 75, 65);
    --nw-beige: rgb(204, 144, 106);
    --nw-grey: rgb(41, 41, 37);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--nw-blue);
    display: flex;
    flex-flow: column wrap;
    position: relative;
    align-content: center;
    padding: 0 0 9rem 0;
}
li {
    list-style: none;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--nw-grey);
    min-width: 480px;
    width: 100vw;
}

.burger-box {
    margin: auto;
    text-align: center;
}
.burger {
    padding: 10px;
    font-size: 18px;
    color: var(--nw-orange);
    border: 1px solid var(--nw-orange);
    border-radius: 22px;

}
#categories-title {
    font-weight: bold;
}
#categories-title,
.nav-list {
    margin: 10px 0;
}
#nav-mobile {
    color: var(--nw-white);
    padding: 10px 0;
}
.categories-item,
.account-menu-item,
.contact-link {
    text-decoration: none;
    color: var(--nw-white);
}
.categories-item:active,
.contact-link:active {
    color: var(--nw-orange);
}

.fa-times {
    color: var(--nw-orange);
    padding-right: 5px;
}
#account-menu {
    font-weight: bold;
}
.account-menu-item:active {
    text-decoration-line: underline;
    text-decoration-color: var(--nw-orange);
}
#nav-wide {
    display: none;
}

.fa-shopping-cart {
    padding: 5px 6px;
}
.fa-user-plus {
    padding: 5px;
}
.fa-sign-in-alt {
    padding: 5px 7px;
}

.footer {
    display: flex;
    flex-flow: wrap column;
    width: 100vw;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 9rem; 
    align-content: center;
    background-color: var(--nw-grey);
    color: var(--nw-white);
}
.footer-fixed {
    position: fixed;
}
#contact-text {
    font-size: 15px;
    text-align: center;
    margin: 15px 0px 10px 0px;
}
#contact-icons {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
.contact-icon {
    border-radius: 4px;
}
#copyright-text {
    font-size: 10px;
    color: var(--nw-blue);
    margin: 10px 0px 15px 0px;
    text-align: center;
}
#registration-main,
#login-main {
    margin: 0 auto;
    text-align: -moz-center;
}
#registration-form-box,
#login-form-box {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: var(--nw-white);
    border-radius: 5px;
    margin: 20px;
    width: 70vw;
}
.registration-box,
.login-box {
    width: 100%;
    margin: 10px auto;
}
.registration-box-label,
.login-box-label {
    display: block;
    padding-bottom: 5px;
}
#create-account-button,
.login-button {
    border: none;
    border-radius: 5px;
    background-color: var(--nw-orange);
    padding: 5px 10px;
}
#create-account-button:active,
.login-button:active {
    background-color: var(--nw-beige);
}
#create-account-link,
#login-link {
    text-decoration: none;
    font-size: 16px;
    color: var(--nw-white);
}


@media (min-width: 480px) {
    /* empieza account-menu min-width <=tablet */
    .account-menu {
        width: 35%;
        text-align: right;
        margin: auto;
        font-size: 15px;
    }
    .account-menu-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 8%;
    }
    .account-menu-text {
        display: none;
    }
    .account-menu-list li {
        margin: 10px 0;
        display: block;
        width: 100%;
    }
    .account-menu-list i {
        border: 1px solid #8b9092;
        border-radius: 4px;
        display: inline;
    }
    .account-menu-icon {
        display: inline;
        padding-left: 15px;
    }
    .account-menu-container:hover .account-menu-text {
        display: inline;
    }
    /* esto después del hover*/
    .account-menu-container {
        border: 0px solid white;
        border-radius: 4px;
        padding: 4px 0px 3px 0px;
        margin-right: 1px;
        transition: border-radius 450ms;
    }
}

@media (min-width: 769px) {

}