* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(204, 144, 106);
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
}
a:visited,
a:active {
    color: white;
}
li {
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
    background-color: #242b2e;
    min-width: 480px;

}
.burger-box {
    width: 10%;
    margin: auto;
    text-align: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}
.menu-continents {
    display: none;
}
/* averiguar sobre especificidad ids/classes
#for-box-hover .burger-box:hover .menu-continents {
    display: block;
}*/

.burger {
    padding: 5px;
    font-size: 18px;
    color: white;
}
#logo-header {
    width: 55%;
    border: 0px solid red;
}

.account-menu {
    width: 35%;
    text-align: right;
    margin: auto;
    font-size: 15px;
}
.account-menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 8%;
}
.account-menu-text {
    display: none;
}
.account-menu-list li {
    margin: 10px 0;
    display: block;
    width: 100%;
}
.burger,
.account-menu-list i {
    border: 1px solid #8b9092;
    border-radius: 4px;
    display: inline;
}
.account-menu-icon {
    display: inline;
    padding-left: 15px;
}
.account-menu-container:hover .account-menu-text {
    display: inline;
}
/* esto después del hover*/
.account-menu-container {
    border: 0px solid white;
    border-radius: 4px;
    padding: 4px 0px 3px 0px;
    margin-right: 1px;
    transition: border-radius 450ms;
}
.fa-shopping-cart {
    padding: 5px 6px;
}
.fa-user-plus {
    padding: 5px;
}
.fa-sign-in-alt {
    padding: 5px 7px;
}
.search-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 25px;
    justify-content: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-area {
    border-style: none;
    text-align: justify;
    border-top: 1px solid white;
    background-color: white;
    padding-top: 5px;
}
footer {
    display: block;
    position: fixed;
    bottom: 10%;
    right: 0;
    background-color: rgba(36, 43, 46);
    border-radius: 6px 0px 0px 6px;
    flex-shrink: 0;
}
.contact-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-right: 0;
    justify-content: space-evenly;
    align-items: stretch;
}

.contact-icons {
    display: none;
    flex-direction: column;
    font-size: 30px;
    color: #c4ced1;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: auto;
    text-align: center;
    flex-shrink: 0;

}
.contact-icons > i {
    border-radius: 4px;
}
.contact-text {
    font-size: 20px;
    writing-mode: vertical-lr;
    text-align: center;
    color: white;
    flex-shrink: 0;
    align-self: center;
    margin: 10px 20px 10px 10px;
    height:max-content;
}

.contact-container:hover .contact-icons {
    display: flex;
}