:root {
    --nw-white: rgb(245, 246, 243);
    --nw-blue: rgb(152, 195, 198);
    --nw-orange: rgb(237, 75, 65);
    --nw-beige: rgb(204, 144, 106);
    --nw-grey: rgb(41, 41, 37);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--nw-blue);
    display: flex;
    flex-flow: column wrap;
    position: relative;
    align-content: center;
    padding: 0 0 9rem 0;
}
li {
    list-style: none;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--nw-grey);
    min-width: 480px;
    width: 100vw;
}

.burger-box {
    margin: auto;
    text-align: center;
    padding-bottom: 2vh;
}
.burger {
    padding: 10px;
    font-size: 18px;
    color: var(--nw-orange);
    border: 1px solid var(--nw-orange);
    border-radius: 22px;

}
#nav-mobile {
    display: none;
}
#categories-title {
    font-weight: bold;
}
#categories-title,
.nav-list {
    margin: 10px 0;
}
#nav-mobile {
    color: var(--nw-white);
    padding: 10px 0;
}
.categories-item,
.account-menu-item,
.contact-link {
    text-decoration: none;
    color: var(--nw-white);
}
.categories-item:active,
.contact-link:active {
    color: var(--nw-orange);
}
#categories-menu li {
    align-self: center;
}
.fa-times {
    color: var(--nw-orange);
    padding-right: 5px;
}
#account-menu {
    font-weight: bold;
}
.account-menu-item:active {
    text-decoration-line: underline;
    text-decoration-color: var(--nw-orange);
}
#nav-wide {
    display: none;
}

.fa-shopping-cart {
    padding: 5px 6px;
}
.fa-user-plus {
    padding: 5px;
}
.fa-sign-in-alt {
    padding: 5px 7px;
}

.footer {
    display: flex;
    flex-flow: wrap column;
    width: 100vw;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 9rem; 
    align-content: center;
    background-color: var(--nw-grey);
    color: var(--nw-white);
}
.footer-fixed {
    position: fixed;
}
#contact-text {
    font-size: 15px;
    text-align: center;
    margin: 15px 0px 10px 0px;
}
#contact-icons {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
.contact-icon {
    border-radius: 4px;
}
#copyright-text {
    font-size: 10px;
    color: var(--nw-blue);
    margin: 10px 0px 15px 0px;
    text-align: center;
}
#registration-main,
#login-main,
#cart-main {
    margin: 0 auto;
    text-align: -moz-center;
    
}

#registration-form-box,
#login-form-box,
#cart-main,
.product-detail-main,
.admin-product-main {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: var(--nw-white);
    border-radius: 5px;
    margin: 20px;
    width: 70vw;
}


#cart-main,
.product-detail-main,
.admin-product-main {
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
}
.registration-box,
.login-box,
.cart-item,
#cart-confirm-purchase,
.product-detail-section {
    width: 100%;
    margin: 10px auto;
}
.product-article-container {
    display: flex;
    flex-flow: column wrap;
}
.product-article {
    width: 80vw;
    align-self: center;
    background-color: var(--nw-white);
    padding: 2vh 0;
}
.product-detail-text {
    padding-left: 3vw;
    padding-right: 3vw;
}
.product-detail-title {
    padding-bottom: 1vh;
    font-weight: bolder;
    font-size: larger;
}
.product {
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    border-top: 1px solid var(--nw-blue);
    border-bottom: 1px solid var(--nw-blue);
}
.product-title {
    font-weight: bold;
    padding-bottom: 5px;
}
.product-price {
    text-align: right;
    color: var(--nw-orange);
}
.product-img {
    width: 90%;
    align-self: center;
    padding-bottom: 15px;
}
.product-description {
    text-align: justify;
}
.prod-desc-detail {
    padding: 3%;
}
.price-detail {
    text-align: right;
    padding-right: 3%;
}
#cart-confirm-purchase {
    border-top: 1px solid var(--nw-blue);
}
.registration-box-label,
.login-box-label {
display: block;
padding-bottom: 5px;
}
.purchase-element {
    margin: 10px;
}
.product-purchase-box {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    vertical-align: middle;
    padding: 20px 15px 15px 15px;
}
#create-account-button,
.login-button,
#confirm-purchase-button,
.product-detail-button,
.admin-product-button,
#view-details-button {
    border: none;
    border-radius: 5px;
    background-color: var(--nw-orange);
    padding: 5px 10px;
    color: var(--nw-white);
}
#create-account-button:active,
.login-button:active,
#confirm-purchase-button:active,
.product-detail-button:active,
.admin-product-button:active,
#view-details-button:active {
    background-color: var(--nw-beige);
}
#create-account-link,
#login-link,
#purchase-link,
.product-detail-link,
.button-link,
#view-details-link {
    text-decoration: none;
    font-size: 16px;
    color: var(--nw-white);
}
.cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#cart-items {
    display: flex;
    flex-flow: wrap column;
    padding: 20px 20px 0px 20px;
}
.individual-item,
.purchase-total {
    font-weight: bold;
}
.individual-item {
    width: 50%;
    text-align: left;
}
.fa-trash-alt {
    font-size: 12px;
    color: var(--nw-orange);
    align-self: center;
}
.product-in-products {
    display: flex;
    flex-wrap: wrap;
    padding: 3vh 6vw;
    border-top: solid 1px var(--nw-blue);
}
.products-col1 {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    align-content: center;
}
.products-img {
    max-width: 20vw;
    max-height: auto;
}
.products-price {
    align-self: center;
}
.products-col2 {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
#products-description {
    max-height: 6rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
#view-details-button {
    display: block;
    width: 30%;
    align-self: flex-end;
}
.products-col2 {
    width: 50%;
    align-content: center;
    text-align: justify;
}

.show {
    display: none;
}

@media (min-width: 480px) {
    /* empieza account-menu min-width <=tablet */
    .account-menu {
        width: 35%;
        text-align: right;
        margin: auto;
        font-size: 15px;
    }
    .account-menu-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 8%;
    }
    .account-menu-text {
        display: none;
    }
    .account-menu-list li {
        margin: 10px 0;
        display: block;
        width: 100%;
    }
    .account-menu-list i {
        border: 1px solid #8b9092;
        border-radius: 4px;
        display: inline;
    }
    .account-menu-icon {
        display: inline;
        padding-left: 15px;
    }
    .account-menu-container:hover .account-menu-text {
        display: inline;
    }
    /* esto después del hover*/
    .account-menu-container {
        border: 0px solid white;
        border-radius: 4px;
        padding: 4px 0px 3px 0px;
        margin-right: 1px;
        transition: border-radius 450ms;
    }
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (min-width: 769px) {
    .burger-box {
        display: none;
    }
    #nav-box {
        width: 100%;
        align-self: flex-start;
    }
    #nav-mobile {
        display: flex;
        flex-direction: column;
    }
    #categories-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        background-color: var(--nw-grey);
        height: 30px;
        align-content: center;
    }
    #categories-title {
        display: none;
    }
    .categories-item {
        padding: 3px 1vw ;
        color: var(--nw-white);
        font-weight: bold;
    }
    #account-menu {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding: 0 0 0 0;
        width: 100%;
        height: 20px;
        justify-content: center;
        background-color: var(--nw-beige);
    }
    .account-menu-item {
        padding: 4vw;
        color: var(--nw-grey);
    }

}