<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %>
</head>
<body>
    <div class="content-wrapper">

        <header>
            <%- include('./partials/header') %>
        </header>
        <main id="index-main">
        <div id="carousel">
            <div class="carousel-slide">
                <a href="/productDetail">
                    <img src="/img/carousel/6x8-cartamarina.jpg" alt=""  id="slide1">
                    <p class="slide-text">Carta Marina ~ 1539</p>
                </a>
            </div>
            <div class="carousel-slide">
                <a href="/productDetail">
                    <img src="/img/carousel/6x8-neareast.jpg" alt="" id="slide2">
                    <p class="slide-text">Near East ~ 1570</p>        
                </a>
            </div>
            <div class="carousel-slide">
                <a href="/productDetail">
                    <img src="/img/carousel/6x8-ptolomeo-4.jpg" alt="" id="slide3">
                    <p class="slide-text">Mapa de Ptolomeo ~ Siglo XVI</p>        
                </a>
            </div>
            <div class="carousel-slide">
                <a href="/productDetail">
                    <img src="/img/carousel/6x8-waldseemuller.jpg" alt="" id="slide4">
                    <p class="slide-text">Mapa de Waldseemüller ~ 1507</p>    
                </a>
            </div>
            <div class="carousel-slide">
                <a href="/productDetail">
                    <img src="/img/carousel/6x8-cortazzi004.jpg" alt="" id="slide5">
                    <p class="slide-text">Japonia según Janssonius ~ 1636</p>
                </a>
            </div>
        </div>

        </main>   
        <footer class="footer">
            <%- include('./partials/footer') %> 
        </footer>
    
</div>
</body>
</html>