<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head') %>
  </head>

  <body>
    <header>
      <%- include('./partials/header') %>
  </header>
    <main id="login-main">
      <div id="login-form-box">
        <form action="/login" method="POST" class="login-form">
          <div class="login-box">
            <label class="login-input login-box-label" for="user"
              >E-Mail:</label
            >
            <input
              type="email"
              name="user"
              id="user"
              class="login-input"
              required
            />
          </div>
          <div class="login-box">
            <label for="password" class="login-input login-box-label"
              >Contraseña:</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="login-input"
              required
            />
          </div>
          <div class="login-box">
            <form class="login-box" method="GET" action="/">
              <button type="submit" class="login-button">
                <a href="/" id="login-link">Ingresar</a>
              </button>
            </form>
          </div>
        </form>
      </div>
    </main>
    <footer class="footer footer-fixed">
      <%- include('./partials/footer') %>
    </footer>
  </body>
</html>
