<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head') %>
  </head>

  <body>
    <header>
      <div id="logo-header">
        <a href="/"
          ><img src="/img/logo_grey_cropped.png" alt="Logo" class="logo"
        /></a>
      </div>
      <div id="nav-box">
        <div class="burger-box">
          <i class="fa fa-bars burger"></i>
        </div>
        <nav id="nav-mobile">
          <p id="categories-title">Categorías:</p>
          <ul id="categories-menu" class="nav-list">
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>América</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Europa</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>África</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Asia</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Oceanía</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Polos</a
              >
            </li>
          </ul>
          <ul id="account-menu" class="nav-list">
            <li><a href="/login" class="account-menu-item">Ingresar</a></li>
            <li>
              <a href="/registration" class="account-menu-item">Crear Cuenta</a>
            </li>
            <li><a href="/cart" class="account-menu-item">Carrito</a></li>
          </ul>
        </nav>
      </div>
      <nav id="nav-wide" class="account-menu">
        <ul class="account-menu-list">
          <li class="account-menu-container">
            <div class="account-menu-text"><a href="/login">Ingresar</a></div>
            <div class="account-menu-icon">
              <a href="login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
          </li>
          <li class="account-menu-container">
            <div class="account-menu-text">
              <a href="/registration">Crear Cuenta</a>
            </div>
            <div class="account-menu-icon">
              <a href="registration"><i class="fas fa-user-plus"></i></a>
            </div>
          </li>
          <li class="account-menu-container">
            <div class="account-menu-text"><a href="/cart">Carrito</a></div>
            <div class="account-menu-icon">
              <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main id="login-main">
      <div id="login-form-box">
        <form action="/login" method="POST" class="login-form">
          <div class="login-box">
            <label class="login-input login-box-label" for="user"
              >E-Mail:</label
            >
            <input
              type="email"
              name="user"
              id="user"
              class="login-input"
              required
            />
          </div>
          <div class="login-box">
            <label for="password" class="login-input login-box-label"
              >Contraseña:</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="login-input"
              required
            />
          </div>
          <div class="login-box">
            <form class="login-box" method="GET" action="/">
              <button type="submit" class="login-button">
                <a href="/" id="login-link">Ingresar</a>
              </button>
            </form>
          </div>
        </form>
      </div>
    </main>
    <footer class="footer footer-fixed">
      <%- include('./partials/footer') %>
    </footer>
  </body>
</html>
