<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main id="no-results-main">
        
        <section id="no-results">
            <p style="size: 20px; color: blueviolet;">Búsqueda sin resultados</p>
        </section>

    </main>
    <footer class="footer footer-fixed" >
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>