<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main id="login-main">
        <div id="login-form-box">
            <p>Búsqueda sin resultados</p>
        </div>

    </main>
    <footer class="footer footer-fixed">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>