<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>New World</title>
</head>

<body>
    <header>
        <div id="logo-header">
            <a href="/"><img src="/img/logo_grey_cropped.png" alt="Logo" class="logo"></a>
        </div>
        <div id="nav-box">
            <div class="burger-box">
                <i class="fa fa-bars burger"></i>
            </div>
            <nav id="nav-mobile">
                <p id="categories-title">Categorías:</p>
                <ul id="categories-menu" class="nav-list">
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>América</a></li>
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Europa</a></li>
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>África</a></li>
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Asia</a></li>
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Oceanía</a></li>
                    <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Polos</a></li>
                </ul>
                <ul id="account-menu" class="nav-list">
                    <li><a href="/login" class="account-menu-item">Ingresar</a></li>
                    <li><a href="/registration" class="account-menu-item">Crear Cuenta</a></li>
                    <li><a href="/cart" class="account-menu-item">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <nav id="nav-wide" class="account-menu">
            <ul class="account-menu-list">
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/login">Ingresar</a></div>
                    <div class="account-menu-icon"><a href="login"><i class="fas fa-sign-in-alt"></i></a></div>
                </li>
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/registration">Crear Cuenta</a></div>
                    <div class="account-menu-icon"><a href="registration"><i class="fas fa-user-plus"></i></a></div>
                </li>
                <li class="account-menu-container">
                    <div class="account-menu-text"><a href="/cart">Carrito</a></div>
                    <div class="account-menu-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
                </li>
            </ul>
        </nav>
    </header>
<main class="product-detail-main">
    <section class="product-detail-section">
        <article>
            <h4 class="product-title">Mapa Japonia según Janssonius (1636)</h4>
            <div class="product">
                <img src="/img/japonia.jpg" alt="Mapa-Japonia" class="maps product-img">
                <p class="des product-description">Una de las primeras vistas de Japón y Corea. Este es un mapa muy atractivo, grabado audazmente.
                    El mapa se basa en el mapa de Abraham Ortelius que a su vez se basó en los manuscritos del jesuita portugués Luis Teixeria, cartógrafo de la Corte del Rey de España.
                    Aunque Hondius sigue la tergiversación de Ortelius de Corea (Corea) como una isla, agrega una notación de texto dentro de Corea en la que sugiere que podría no ser una isla.
                    En la parte superior derecha hay un cartucho de título con brazalete. Un barco europeo navega en las aguas del norte de Japón y un junco chino navega por debajo de Japón en el "Océano de China". Un monstruo marino está debajo de Corea. Jodocus Hondius (1563-1612) fue el fundador de la famosa familia editora de mapas holandesa del siglo XVII. Hondius, junto con sus hijos Jodocus II y Henricus y su yerno Jan Janssonius, fue prominente en la cartografía holandesa y compitió con el emergente negocio de mapas de la familia Blaeu.</p>
                    <p class="precio product-price">$6.000</p>
            </div>
            <div class="price-icon product-purchase-box">
                <button type="submit" class="product-detail-button"><a href="/cart" class="product-detail-link">Comprar</a></button>
                <button type="submit" class="product-detail-button"><a href="/products"class="product-detail-link">+ Carrito</a></button>
            </div>    
        </article>
    </section>
</main>
<footer class="footer">
    <%- include('./partials/footer') %>
</footer>
    
</body>
</html>