<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/products.css" />

    <title>New World</title>
  </head>

  <body>
    <header>
      <div id="logo-header">
        <a href="/"
          ><img src="/img/logo_grey_cropped.png" alt="Logo" class="logo"
        /></a>
      </div>
      <div id="nav-box">
        <div class="burger-box">
          <i class="fa fa-bars burger"></i>
        </div>
        <nav id="nav-mobile">
          <p id="categories-title">Categorías:</p>
          <ul id="categories-menu" class="nav-list">
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>América</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Europa</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>África</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Asia</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Oceanía</a
              >
            </li>
            <li>
              <a href="/products" class="categories-item"
                ><i class="fas fa-times"></i>Polos</a
              >
            </li>
          </ul>
          <ul id="account-menu" class="nav-list">
            <li><a href="/login" class="account-menu-item">Ingresar</a></li>
            <li>
              <a href="/registration" class="account-menu-item">Crear Cuenta</a>
            </li>
            <li><a href="/cart" class="account-menu-item">Carrito</a></li>
          </ul>
        </nav>
      </div>
      <nav id="nav-wide" class="account-menu">
        <ul class="account-menu-list">
          <li class="account-menu-container">
            <div class="account-menu-text"><a href="/login">Ingresar</a></div>
            <div class="account-menu-icon">
              <a href="login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
          </li>
          <li class="account-menu-container">
            <div class="account-menu-text">
              <a href="/registration">Crear Cuenta</a>
            </div>
            <div class="account-menu-icon">
              <a href="registration"><i class="fas fa-user-plus"></i></a>
            </div>
          </li>
          <li class="account-menu-container">
            <div class="account-menu-text"><a href="/cart">Carrito</a></div>
            <div class="account-menu-icon">
              <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="conteiner">
          <article>
            <h4>Africa y el mar etíope. Ortelius. (1584)</h4>
            <div class="product">
              <img src="/img/Africa.jpg" alt="Mapa-Africa" class="maps" />
              <p class="des">
                Los términos África subsahariana y anteriormente África negra
                hacen referencia a aquellos países del continente africano que
                no limitan con el mar Mediterráneo. También se conoce como
                determinada zona geográfica ubicada al sur del desierto del
                Sahara. Sin embargo, no se hace referencia a las divisiones
                políticas; el término refiere a aquellas partes del continente
                africano habitadas mayoritariamente por personas de piel oscura,
                que comprenden aproximadamente el 85 por ciento de su superficie
                total. Otra clasificación señala el trópico de Cáncer como
                límite norte aproximado de África negra. Desde el punto de vista
                biogeográfico, se le denomina región Afrotropical.
              </p>
              <div class="price-icon">
                <p class="precio">$5.000</p>
                <i class="fas fa-truck truck-icon"></i>
              </div>
            </div>
          </article>
          <article>
            <h4>Mapa Japonia según Janssonius (1636)</h4>
            <div class="product">
              <img src="/img/japonia.jpg" alt="Mapa-Japonia" class="maps" />
              <p class="des">
                Una de las primeras vistas de Japón y Corea. Este es un mapa muy
                atractivo, grabado audazmente. El mapa se basa en el mapa de
                Abraham Ortelius que a su vez se basó en los manuscritos del
                jesuita portugués Luis Teixeria, cartógrafo de la Corte del Rey
                de España. Aunque Hondius sigue la tergiversación de Ortelius de
                Corea (Corea) como una isla, agrega una notación de texto dentro
                de Corea en la que sugiere que podría no ser una isla. En la
                parte superior derecha hay un cartucho de título con brazalete.
                Un barco europeo navega en las aguas del norte de Japón y un
                junco chino navega por debajo de Japón en el "Océano de China".
                Un monstruo marino está debajo de Corea. Jodocus Hondius
                (1563-1612) fue el fundador de la famosa familia editora de
                mapas holandesa del siglo XVII. Hondius, junto con sus hijos
                Jodocus II y Henricus y su yerno Jan Janssonius, fue prominente
                en la cartografía holandesa y compitió con el emergente negocio
                de mapas de la familia Blaeu.
              </p>
              <div class="price-icon">
                <p class="precio">$6.000</p>
                <i class="fas fa-truck truck-icon"></i>
              </div>
            </div>
          </article>
        </div>
        <div class="conteiner1">
          <article>
            <h4>
              Mapa de Ptolomeo (siglo XVI) El mundo conocido en el siglo II A.C.
            </h4>
            <div class="product">
              <img
                src="/img/ptolomeo-4.jpg"
                alt="Mapa-ptolomeo-4"
                class="maps"
              />
              <p class="des">
                Hay obras que fueron creadas en la época en la que el
                Mediterráneo era uno de los centros de la Humanidad, cuando las
                grandes civilizaciones clásicas dominaban el viejo mundo. La
                Geografía de Ptolomeo es una de ellas. Su importancia y valor
                están fuera de dudas, pero su trascendencia fue tal que incluso
                muchos siglos después Cristóbal Colón se equivocó en sus
                cálculos al basarse en ella.
              </p>
              <div class="price-icon">
                <p class="precio">$7.000</p>
                <i class="fas fa-truck truck-icon"></i>
              </div>
            </div>
          </article>
          <article>
            <h4>Tierra del Fuego. Hondius. (1607)</h4>
            <div class="product">
              <img
                src="/img/Tierra del fuego.jpg"
                alt="Mapa-Tierra-del-fuegp"
                class="maps"
              />
              <p class="des">
                La porción del cabo que se encuentra en la República de Chile
                esta en la Región de Magallanes y de la Antártida Chilena y del
                lado de la República Argentina se ubica en la Provincia de
                Tierra del Fuego, Antártida e Islas del Atlántico Sur, dentro de
                la jurisdicción del Departamento de Río Grande. De acuerdo con
                la Constitución de la Provincia de Tierra del Fuego, Antártida e
                Islas del Atlántico Sur de 1991, el artículo 2º determina que la
                provincia tiene los límites territoriales y los espacios
                marítimos y aéreos que por derecho le corresponden de
                conformidad con los límites internacionales de la República
                Argentina, ajustándose a los límites establecidos por el Tratado
                de 1881 y el Protocolo de 1893.
              </p>
              <div class="price-icon">
                <p class="precio">$8.000</p>
                <i class="fas fa-truck truck-icon"></i>
              </div>
            </div>
          </article>
        </div>
        <article>
          <h4>
            Mapa de Waldseemüler (1507) El mundo conocido en el siglo II A.C.
          </h4>
          <div class="product">
            <img src="/img/Waldseemuller_map_2.jpg" alt="Mapa" class="maps" />
            <p class="des">
              Universalis Cosmographia o Planisferio de Waldseemüller es un
              planisferio publicado bajo la dirección del cartógrafo Martin
              Waldseemüller en Saint-Dié e impreso en Estrasburgo en 1507, en el
              que por primera vez se utiliza el nombre de «América» al
              considerar a Américo Vespucio descubridor del nuevo continente.
              Titulado Universalis Cosmographia Secundum Ptholomei Traditionem
              et Americi Vespuci Aliorumque Lustrationes, el planisferio
              acompañaba a un pequeño tratado de geografía titulado
              Cosmographiae Introductio.
            </p>
            <div class="price-icon">
              <p class="precio">$9.000</p>
              <i class="fas fa-truck truck-icon"></i>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <%- include('./partials/footer') %>
    </footer>
  </body>
</html>
