<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head') %>
  </head>

  <body>
    <div class="content-wrapper">
      <header>
        <%- include('./partials/header') %>
    </header>
      <main id="cart-main">
        <div id="cart-items">
          <div id="item-1" class="cart-item">
            <p class="individual-item">Item 1</p>
            <p>Precio</p>
            <p class="individual-price">$ XXXXX</p>
            <i class="fas fa-trash-alt"></i>
          </div>
          <div id="item-2" class="cart-item">
            <p class="individual-item">Item 2</p>
            <p>Precio</p>
            <p class="individual-price">$ XXXXX</p>
            <i class="fas fa-trash-alt"></i>
          </div>
          <div id="item-3" class="cart-item">
            <p class="individual-item">Item 3</p>
            <p>Precio</p>
            <p class="individual-price">$ XXXXX</p>
            <i class="fas fa-trash-alt"></i>
          </div>
          <div id="item-4" class="cart-item">
            <p class="individual-item">Item 4</p>
            <p>Precio</p>
            <p class="individual-price">$ XXXXX</p>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <div id="cart-confirm-purchase">
          <p class="purchase-total purchase-element">Total: $ XXXXX</p>
          <button id="confirm-purchase-button" class="purchase-element" type="submit"><a href="/" id="purchase-link">Comprar</a></button>
        </div>
      </main>
      <footer class="footer">
        <%- include('./partials/footer') %>
      </footer>
    </div>
  </body>
</html>
