<div id="contact-text">
    <p>Contactanos</p>
</div>
<div id="contact-icons">
    <a href="https://www.twitter.com/" target="_blank" class="contact-link">
        <i class="fab fa-twitter-square contact-icon"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank" class="contact-link">
        <i class="fab fa-facebook-square contact-icon"></i>
    </a>
    <a href="mailto:#" target="_blank" class="contact-link">
        <i class="fas fa-envelope-square contact-icon"></i>
    </a>
</div>
<div>
    <p id="copyright-text">Copyright © 2021 Grupo-09</p>
</div>