<header>
    <div id="logo-header">
        <a href="/"><img src="/img/logo_grey_cropped.png" alt="Logo" class="logo"></a>
    </div>
    <div id="nav-box">
        <div class="burger-box">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav id="nav-mobile">
            <p id="categories-title">Categorías:</p>
            <ul id="categories-menu" class="nav-list">
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>América</a></li>
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Europa</a></li>
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>África</a></li>
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Asia</a></li>
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Oceanía</a></li>
                <li><a href="/products" class="categories-item"><i class="fas fa-times"></i>Polos</a></li>
            </ul>
            <div id="account-menu-outter-box">

                <ul id="account-menu" class="nav-list">
                    <% if (!locals.userLogged) { %> 
                        
                        <li><a href="/users/login" class="account-menu-item"><i class="fas fa-times"></i>Ingresar</a></li>
                        <li><a href="/users/register" class="account-menu-item"><i class="fas fa-times"></i>Crear Cuenta</a></li>
                        <li><a href="/cart" class="account-menu-item"><i class="fas fa-times"></i>Carrito</a></li>
                        
                        
                        <% } else { %>
                            
                            <li><a href="/users/login" class="account-menu-item"><i class="fas fa-times"></i>Hola <%= locals.userLogged.names %> </a></li>
                            <li><a href="/users/logout" class="account-menu-item"><i class="fas fa-times"></i>Logout</a></li>
                            <li><a href="/cart" class="account-menu-item"><i class="fas fa-times"></i>Carrito</a></li>
                            
                            <% } %>
                            
                        </ul>
                        <form action="/products/search" method="GET" id="search-form">
                            <input id="search-bar" type="text" placeholder="Buscar.." name="search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
            </div>
        </nav>
    </div>
    <nav id="nav-wide" class="account-menu">


        <ul class="account-menu-list">
            <li class="account-menu-container"><div class="account-menu-text"><a href="/users/login">Ingresar</a></div><div class="account-menu-icon"><a href="login"><i class="fas fa-sign-in-alt"></i></a></div></li>
            <li class="account-menu-container"><div class="account-menu-text"><a href="/users/register">Crear Cuenta</a></div><div class="account-menu-icon"><a href="registration"><i class="fas fa-user-plus"></i></a></div></li>
            <li class="account-menu-container"><div  class="account-menu-text"><a href="/cart">Carrito</a></div><div class="account-menu-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div></li>
        </ul>
    </nav>
</header>
